{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    // "plugin:jsdoc/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.debug.json",
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "jsdoc",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "spaced-comment": [
      "error",
      "always",
      {
        "line": {
          "markers": [
            "#region",
            "#endregion",
            "region",
            "endregion"
          ]
        }
      }
    ]
  }
}
